*.avi
*.asv
*.DS_Store
documentation/analysis_report/
documentation/screenshots/
pseudocode/
testbench/
example/
log.txt
ReRefTesting.m
Test.m
util/not_for_release
demo/*
!demo/globalRef.tif
!demo/sample10deg.avi
